<div class="cont col-auto row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Enviar</h1>
  </div>
  <div class="card d-flex mt-3">
    <div class="row">
      <div class="col-auto col-lg-9  ">
        <div class="progress">
          <div class="step active"><a
              href="pages/NominaBecarios/Nominas-Calcular"
              class="step-link">
              <strong>1 - Calcular</strong>
            </a></div>
          <div class="step active"><a href="pages/NominaBecarios/Nominas-Pagar"
              class="step-link"><strong>2 - Pagos</strong></a></div>
          <div class="step active"><a
              href="pages/NominaBecarios/Nominas-Revision"
              class="step-link"><strong>3 - Revision</strong></a></div>
          <div class="step active"><strong>4 - Enviar</strong></div>
        </div>
      </div>

      <div class="col-auto col-lg-12">
        <div class="email-section">
          <label for="email">Correo al que se envían:</label>
          <input
            type="email"
            id="email"
            disabled
            [value]="emailList"
            class="email-input" />
          <button class="modify-btn" (click)="showCrudSwal()">Modificar</button>
        </div>
        <div class="email-subjet">
          <form [formGroup]="emailForm">
            <label for="subjet">Asunto:</label>
            <input
              type="text"
              id="subjet"
              formControlName="subjet"
              placeholder="Asunto del Correo"
              class="email-input" />

            <label for="emailMessage">Mensaje del Correo:</label>
            <textarea
              id="emailMessage"
              formControlName="emailMessage"
              placeholder="Escribe tu mensaje aquí..."
            ></textarea>
          </form>
        </div>

        <div class="files-section">
          <label>Archivos que se van a enviar:</label>
          <br><br>
          <ul class="files-list">
            <li class="file-item">
              <i class="fa-solid fa-file-csv exel" ></i>&nbsp;
              Anexo5_Ordinaria_{{this.data2?.quincena}}.csv
            </li>
            <li class="file-item">
              <i class="fa-solid fa-file-csv exel"></i>&nbsp;
              Anexo5_Extraordinaria_{{this.data2?.quincena}}.csv
            </li>
            <li class="file-item">
              <i class="fa-solid fa-file-csv exel"></i>&nbsp;
              Anexo6_Ordinaria_{{this.data2?.quincena}}.csv
            </li>
            <li class="file-item">
              <i class="fa-solid fa-file-csv exel"></i>&nbsp;
              Anexo6_Extraordinaria_{{this.data2?.quincena}}.csv
            </li>
            <li class="file-item">
              <i class="fa-solid fa-file-zipper"></i>&nbsp;
              Fups_{{this.data2?.quincena}}.zip
            </li>
          </ul>
          <div class="custom-file-upload">
            <input type="file" id="fileInput" (change)="onFileSelected($event)">
            <label for="fileInput">
              📂 Seleccionar Archivo
            </label>
            <span *ngIf="selectedFile">{{ selectedFile.name }}</span>
            <button (click)="addFUUPS()"> ⬇️ Descargar FUPS</button>
          </div>
        </div>
      </div>

      <div class="boton-container col-auto col-lg-12 m-3 ">

        <button type="submit" class="btn  btn-sm" (click)="continueNomina()"
          [disabled]="data2?.status == 3">Terminar y enviar</button>
      </div>
    </div>
  </div>
</div>
