<div class="cont col-auto row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Enviar</h1>
  </div>
  <div class="card d-flex mt-3">
    <div class="row">
      <div class="col-auto col-lg-9  ">
        <div class="progress">
          <div class="step active"><a
              href="pages/NominaBecarios/Nominas-Calcular"
              class="step-link">
              <strong>1 - Calcular</strong>
            </a></div>
          <div class="step active"><a href="pages/NominaBecarios/Nominas-Pagar"
              class="step-link"><strong>2 - Pagos</strong></a></div>
          <div class="step active"><a href="pages/NominaBecarios/Nominas-Revision"
            class="step-link"><strong>3 - Revision</strong></a></div>
          <div class="step active"><strong>4 - Enviar</strong></div>
        </div>
      </div>

      <div class="col-auto col-lg-12">
        <div class="email-section">
          <label for="email">Correo al que se envían:</label>
          <input
            type="email"
            id="email"
            value="Admin@gmail.com"
            disabled
            class="email-input"
          />
          <button class="modify-btn">Modificar</button>
        </div>
        <div class="files-section">
          <label>Archivos que se van a enviar:</label>
          <ul class="files-list">
            <li class="file-item">
              <img src="csv-icon.png" alt="CSV icon" class="file-icon" />
              Anexo62025.csv
            </li>
            <li class="file-item">
              <img src="csv-icon.png" alt="CSV icon" class="file-icon" />
              Anexo62025.csv
            </li>
            <li class="file-item">
              <img src="csv-icon.png" alt="CSV icon" class="file-icon" />
              Anexo62025.csv
            </li>
            <li class="file-item">
              <img src="csv-icon.png" alt="CSV icon" class="file-icon" />
              Anexo62025.csv
            </li>
          </ul>
          <div class="upload-section">
            <button class=" button ">Subir un Archivo CSV</button>
          </div>
        </div>
      </div>


      <div class="boton-container col-auto col-lg-12 m-3 ">
        <button type="submit" class="btn  btn-sm" (click)="saveNomina('hdhj')" [disabled]="data2?.status >= 4">Guardar</button>
        <button type="submit" class="btn  btn-sm" (click)="continueNomina()"[disabled]="data2?.status == 3">Terminar y enviar</button>
      </div>
    </div>
  </div>
</div>
