<div class="historial-container" id="historialPDF">
    <h1>Historial de Licencias</h1>
    <div *ngIf="historial.length > 0">
      <table>
        <thead>
          <tr>
            <th>Inicio Licencia</th>
            <th>Término Licencia</th>
            <th>Días Licencia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let licencia of historial">
            <td>{{ licencia.fecha_inicio }}</td>
            <td>{{ licencia.fecha_final }}</td>
            <td>{{ licencia.dias_licencia }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="historial.length === 0">
      <p>No se encontraron registros de licencias para el RFC proporcionado.</p>
    </div>
  </div>
  
  <button (click)="generarPDF()">Generar PDF</button>
  