<div class="card">
  <div class="row">
    <div class="col-auto">
      <h5 class="ms-2 mt-2" >Ingresar un nuevo Accidente de
        trabajo</h5>
    </div>
  </div>
  <form [formGroup]="insertarLics" class="m-3" (ngSubmit)="onSumit()" *ngIf="this.agregar">
    <div class="row">
      <div class="col-auto">
        <label for="start-date" class="form-label">Fecha de
          Inicio:</label>
        <input formControlName="fecha_inicio" type="date" id="start-date" name="start-date" class="form-control"
          required>
      </div>
      <div class="col-auto">
        <label for="end-date" class="form-label">Fecha de
          Término:</label>
        <input formControlName="fecha_termino" type="date" id="end-date" name="end-date" class="form-control" required>
      </div>

      <div class="col-auto mt-4">

        <button type="submit" class="guardar btn   btn-success">Guardar</button>
      </div>
    </div>
  </form>



  <app-tables class="tabla1" *ngIf="table == true"
  [headers]="headers2"
  [data]="data2"
  [displayedColums]="displayedColumns2"
  [showActionsEdit]="modificar"
    (edit)="onEdit2($event)"
    [showActionsDeleted]="eliminar"
    [maxHeight]="'400px'"
    [itemsPerPage]="5"
    (delete)="onDelete($event)"
     ></app-tables>


  <app-tables *ngIf="table == true"
  [headers]="headers"
  [data]="data"
  [displayedColums]="displayedColumns"
  [showActionsEdit]="modificar"
    (edit)="onEdit($event)"
    [showActionsDeleted]="eliminar"
    [maxHeight]="'400px'"
    [itemsPerPage]="10"
    (delete)="onDelete($event)"
     ></app-tables>

     <h3 *ngIf="table == false" class="ms-3">El usuario no cuenta con accidentes de trabajo </h3>

</div>
