<div class="cont col-auto row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Catalogo de becarios</h1>
  </div>
  <div class="card d-flex mt-3">
    <div class="row">

      <div class="form-floating col-auto col-lg-2 mt-4 me-4">
        <input type="text" class=" buscar form-control" id="busqueda"
          placeholder="Buscar"
          [(ngModel)]="searchTerm" name="busqueda">
        <label for="User"><i class="fa-solid fa-magnifying-glass"></i>
          Buscar</label>
      </div>

      <div class="col-auto col-lg-3 mt-5">
        <button class="btn-ver" (click)="newSutitute()"><i class="fa-solid fa-plus"></i> Añadir nuevo sustituto</button>
      </div>

      <div class="col-auto col-lg-8 m-4 mx-auto">
        <app-tables
          [headers]="headers"
          [data]="data"
          [displayedColums]="displayedColumns"
          [searchTerm]="searchTerm"
          [maxHeight]="'630px'"
          [itemsPerPage]="20"
          [showActionsEdit]="true"
            (edit)="onEdit($event)"
          [showActionsDeleted]=true
          [showActionsPdf]=false
          [showActiveCheckbox]=false
          [showDetailsColumn]=false>
        </app-tables>
      </div>

    </div>
  </div>
</div>
