<div class="cont col-auto row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Historico de nominas</h1>
  </div>
  <div class="card d-flex mt-3">
    <div class="row">

      <div class="col-auto col-lg-12 mt-4">
        <h2>Nominas del 2025</h2>
        <br>
        <select class="yearNomina" aria-label="Default select example">
          <option selected value="1">2025</option>
          <option value="2">2024</option>
          <option value="3">2023</option>
        </select>
      </div>

      <div class="col-auto col-lg-12 m-4">
       <div class="card nominas" *ngFor="let historial of data2"> <!-- //*ngFor="let variable of data" -->
          <div class="card-title mt-3 ms-3">
            <h4>Enero 2025</h4>
          </div>
          <div class="card-body">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Nomina Quincenal Becarios {{historial.quincena}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quincena pagada: {{historial.quincena}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Becarios: {{historial.becarios}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total: {{historial.total}}
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <button (click)="generateExcelAnexo5(historial.id)">Descargar PDF de nomina</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="generateExcelAnexo5(historial.id)">Descargar Anexo 5</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="generateExcelAnexo6(historial.id)">Descargar Anexo 6</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
