<div class="cont col-auto row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Descuentos de terceros</h1>
  </div>
  <div class="card d-flex mt-3">
    <br>

    <!-- Tarjetas para ILIMITADOS -->
    <div class="col-auto d-flex align-items-center justify-content-between w-100">
      <h3 class="mb-0 ms-3">Institucionales</h3>
      <div class="justify-content-end">
        <button class="btn boton ms-4 mt-2" *ngIf="agregar">CARGAR LAYOUTS</button>
      </div>
    </div>
    <hr>
    <div *ngIf="info?.length">
      <div class="card nomina m-3" *ngFor="let tercero of institucionales">
        <div class="row m-3">
          <div class="col-auto col-lg-6">
            <h4>{{ tercero.name }}</h4>
            <p>Quincena: {{ tercero.quincena || 0 }}</p>
          </div>
          <div class="col-auto col-lg-6">
            <div class="summary row">
              <div class="col-auto">
                <p><strong>Registros</strong></p>
                <p>{{ tercero.records }}</p>
              </div>
              <div class="col-auto">
                <p><strong>Rechazados</strong></p>
                <p>{{ tercero.rejected }}</p>
              </div>
              <div class="col-auto">
                <p><strong>Aceptados</strong></p>
                <p>{{ tercero.accepted }}</p>
              </div>
            </div>
          </div>

          <div class="col-auto col-lg-9">
            <div class="progress">
              <div class="step" *ngIf="tercero.added" [ngClass]="{ 'active': tercero.status >= 1 }"><strong>Crear layout</strong></div>
              <div class="step" [ngClass]="{ 'active': tercero.status >= 2 }"><strong>Revisión</strong></div>
              <div class="step" [ngClass]="{ 'active': tercero.status >= 3 }"><strong>Correcciones</strong></div>
              <div class="step" [ngClass]="{ 'active': tercero.status >= 4 }"><strong>Finalizado</strong></div>
            </div>
          </div>

          <div class="col-auto col-lg-3">
            <button class="button ms-4 mt-2" *ngIf="agregar" (click)="verDetalle(tercero.terceroId, tercero.added)">
              CONTINUAR
            </button>
          </div>
        </div>
      </div>

      <!-- Tarjetas para LIMITADOS -->
      <div class="col-auto d-flex align-items-center justify-content-between w-100">
        <h3 class="mb-0 ms-3">No institucionales</h3>
        <div class="justify-content-end">
          <button class="btn boton ms-4 mt-2" *ngIf="agregar">CARGAR LAYOUTS</button>
        </div>
      </div>
      <hr>
      <div class="card nomina m-3" *ngFor="let tercero of noInstitucionales">
        <div class="row m-3">
          <div class="col-auto col-lg-6">
            <h4>{{ tercero.name }}</h4>
            <p>Quincena: {{ tercero.quincena || 0 }}</p>
          </div>
          <div class="col-auto col-lg-6">
            <div class="summary row">
              <div class="col-auto">
                <p><strong>Registros</strong></p>
                <p>{{ tercero.records }}</p>
              </div>
              <div class="col-auto">
                <p><strong>Rechazados</strong></p>
                <p>{{ tercero.rejected }}</p>
              </div>
              <div class="col-auto">
                <p><strong>Aceptados</strong></p>
                <p>{{ tercero.accepted }}</p>
              </div>
            </div>
          </div>

          <div class="col-auto col-lg-9">
            <div class="progress">
              <div class="step" *ngIf="tercero.added" [ngClass]="{ 'active': tercero.status >= 1 }"><strong>Crear layout</strong></div>
              <div class="step" [ngClass]="{ 'active': tercero.status >= 2 }"><strong>Revisión</strong></div>
              <div class="step" [ngClass]="{ 'active': tercero.status >= 3 }"><strong>Correcciones</strong></div>
              <div class="step" [ngClass]="{ 'active': tercero.status >= 4 }"><strong>Finalizado</strong></div>
            </div>
          </div>

          <div class="col-auto col-lg-3">
            <button class="button ms-4 mt-2" *ngIf="agregar" (click)="verDetalle(tercero.terceroId, tercero.added)">
              CONTINUAR
            </button>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
