button{
  background-color: transparent; /* Elimina el fondo del botón */
  border: none; /* Elimina el borde del botón */
  outline: none; /* Elimina el contorno al enfocarlo */
  cursor: pointer; /* Opcional: muestra el cursor como una mano al pasar sobre el botón */
}

.edit{
  color: #0FA958;
}

.delete{
  color: #F24E1E;
}

.table-responsive {
  overflow-x: auto; /* Permite desplazamiento horizontal */
  display: block;
  width: 100%; /* Asegura que ocupe el ancho completo del contenedor */
}

.table-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente la tabla */
  overflow-x: auto; /* Permite el scroll horizontal si hay demasiados datos */
}

table {
  font-size: 12px; /* Tamaño de letra más pequeño para que quepan más elementos */

}

th, td {
  padding: 8px 12px; /* Espaciado interno en las celdas */
  text-align: left; /* Alinear texto a la izquierda (puedes ajustarlo según prefieras) */
}

.table-container::-webkit-scrollbar {
  height: 8px; /* Tamaño del scroll horizontal */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scroll */
  border-radius: 4px; /* Bordes redondeados para el scroll */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del scroll al pasar el cursor */
}
