<div class="cont row  mt-4 ms-4">
  <div class="titulos ">
    <h1>Archivos de licencias médicas</h1>
    <h5>Listado de licencias capturadas del dia</h5>
  </div>
  <div class="card d-flex ">
    <div class="d-flex mt-4">
      <button type="button" class="botones btn me-2" (click)="  generatePdfLicencias()">
        <i class="fa-solid fa-file-lines"></i> Imprimir tabla de Licencias
      </button>
      <button type="button" class="botones btn me-2"
        (click)="generatePdfFormato()">
        <i class="fa-solid fa-file-pdf"></i> Imprimir formato para archivo
      </button>
    </div>
    <div class="form-floating col-auto mt-4">
      <input type="text" class=" buscar form-control" id="busqueda"
        placeholder="Buscar"
        [(ngModel)]="searchTerm" name="busqueda">
      <label for="User"><i class="fa-solid fa-magnifying-glass"></i>  Buscar</label>
    </div>
    <div class="col-auto mt-4 ">
      <app-tables
        [headers]="headers"
        [data]="data"
        [displayedColums]="displayedColumns" s
        [searchTerm]="searchTerm"
        [showActionsEdit]=false
        [showActionsDeleted]=false
        [showActionsPdf]=false>
      </app-tables>
    </div>
  </div>
</div>
